<web-app>
	<display-name>Pizzeria Admin Web App</display-name>
	<servlet>
		<servlet-name>PizzaServletWebApi</servlet-name>
		<servlet-class>fr.pizzeria.admin.web.PizzaServletWebApi
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PizzaServletWeb</servlet-name>
		<servlet-class>fr.pizzeria.admin.web.PizzaServletWeb</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PizzasList</servlet-name>
		<servlet-class>fr.pizzeria.admin.web.ListerPizzaController
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PizzasEdit</servlet-name>
		<servlet-class>fr.pizzeria.admin.web.EditerPizzaController
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PizzasDelete</servlet-name>
		<servlet-class>fr.pizzeria.admin.web.SupprimerPizzaController
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>fr.pizzeria.admin.web.LoginPizzaController
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Technique</servlet-name>
		<servlet-class>fr.pizzeria.admin.web.TechniqueController
		</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>PizzaServletWebApi</servlet-name>
		<url-pattern>/api/servlet/pizzas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PizzaServletWeb</servlet-name>
		<url-pattern>/servlet/pizzas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PizzasEdit</servlet-name>
		<url-pattern>/pizzas/edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PizzasDelete</servlet-name>
		<url-pattern>/pizzas/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PizzasList</servlet-name>
		<url-pattern>/pizzas/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/connect/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Technique</servlet-name>
		<url-pattern>/pizzas/technique</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>fr.pizzeria.admin.web.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/pizzas/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>TimerFilter</filter-name>
		<filter-class>fr.pizzeria.admin.web.TechniqueFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TimerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
